html body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: black;
  background-color: #F1F1F1;
  }
  



button {
  background-color: transparent; /* Match the button background color */
  border: 2px solid #000000; /* White border */
  color: #000000; /* White text */
  padding: 10px 10px; /* Padding for the button */
  font-size: 16px; /* Text size */
  border-radius: 20px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Font family */
  text-transform: uppercase; /* Uppercase text */
  outline: none; /* Remove outline */
  cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
  background-color: #e0bebe; /* Slightly darker background on hover */
}

.header {
  position: absolute;
  background-color: #FFFFFF;
  color: black;
  bottom: 0px;
  width: 100vw;
  height: 15vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0px 2.5vw;
  left: 0px;
}

.App > div {
  height: 85vh;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0px 3vw;
}

html .swiper{
  width: 100%;
  height: 40vh;
}
h1 p{
  margin: 0px;
}
.header button{
  margin: 0px;
  width: 50px;
  height: 50px; 
  margin: 2px solid #FDD93B;
}