body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url('./img/Danse.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  background-color: transparent; /* Match the button background color */
  border: 2px solid #fff; /* White border */
  color: #fff; /* White text */
  padding: 5px 10px; /* Padding for the button */
  font-size: 16px; /* Text size */
  border-radius: 20px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Font family */
  text-transform: uppercase; /* Uppercase text */
  outline: none; /* Remove outline */
  cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
  background-color: #e0bebe; /* Slightly darker background on hover */
}