.Admin a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}
/* .Admin button{
    background-color: white;
} */
.DataAdmin{
    height: 65vh;
    width: 100%;
    margin-top: 3vh;
}
html body .Admin {
    border: 0px;
    border-radius: 20px;
    background: white;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 50vh;
    /* margin: auto; */
    align-items: center;
    padding-bottom: 74px;
    flex-direction: column;
}
.ModalAdminGrid {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ModalAdminGrid>div {
    display: flex;
    border: 0px;
    border-radius: 20px;
    background: white;
    height: 50vh;
    width: 75vw;
    margin: 25vh 12.5vw;
    padding: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}