.Admin a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
}
/* .Admin button{
    background-color: white;
} */
.DataAdmin{
    height: 60vh;
    width: 100%;
    margin-top: -5vh;
}
html body .Admin {
    border: 0px;
    border-radius: 20px;
    background: white;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 50vh;
    /* margin: auto; */
    align-items: center;
    padding-bottom: 74px;
    flex-direction: column;
}
.ModalAdminGrid {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ModalAdminGrid>div {
    display: flex;
    border: 0px;
    border-radius: 20px;
    background: white;
    height: 50vh;
    width: 75vw;
    /* margin: 25vh 12.5vw; */
    padding: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.formAdminCreate {
    /* height: 70vh; */
    /* margin: 15vh 5vw; */
    background: white;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 0px;
    padding: 20px;
    border-radius: 30px;
    /* overflow-x: scroll; */
    padding: 2p;
}
.scrollerFormAdmin {
    overflow-y: scroll;
    height: 70vh;
    margin: 15vh 5vw;
}

.formAdminCreate input {
    padding: 10px;
    margin: 10px;
    width: 60vw;
    border: 1px solid;
    border-radius: 5px;
}