.cours{
    margin:  10px 5vw;
    padding: 20px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 20px;
}

.modalBox{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h2{
    margin: 1vh 0vh;
    font-size: 22px;
}