/* html .Profil{
    height: 80vh;
    margin-top: 10vh;
} */
.paiementList {
    height: 20vh;
    overflow: scroll;
}
.infoProfil p{
    margin: 5px ;
}
.infoProfil {
    border: 0px solid white;
    border-radius: 20px;
    background: white;
    padding: 20px 0px;
}